@font-face {
  font-family: "GeoMd";
  src: local("GeoMd"),
   url(~/assets/fonts/GeoMd.ttf) format("truetype");
}
@font-face {
  font-family: "GeoBold";
  src: local("GeoBold"),
   url(~/assets/fonts/GeoBold.ttf) format("truetype");
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
}

button{
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer
}

ul{
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}